

nav .li {
    display:inline-block;min-width:50px;
}
nav li a {
    text-decoration:none;
    line-height: 70px;
    padding: 0 10px;
    text-align: center;
    font-size: 1.3em;
    color: #444444;
    text-transform: uppercase;
}
nav li a:after {
    content: '';
    display: block;
    margin: auto;
    height: 4px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  nav li a:hover:after {
    width: 90%;
    background: #444;
  }